$test-outline: none;
$test-background: #fff;
$elevation-3dp: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);

#context-menu {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    flex-direction: column;
    box-shadow: $elevation-3dp;
    border-radius: 12px;
    padding: 12px 0;
    // outline: $test-outline;
    background-color: $test-background;
    z-index: 100000;
    user-select: none;
    .menu-option {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: background-color 100ms ease-in-out;
        // outline: $test-outline;
        // background-color: $test-background;
        .option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 24px;
            // outline: $test-outline;
            // background-color: $test-background;
            .option-icon {
                //...
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                padding-right: 12px;
                // outline: $test-outline;
                // background-color: $test-background;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .option-text {
                //...
                font-size: 1rem;
                padding-left: 12px;
                // outline: $test-outline;
                // background-color: $test-background;
            }
        }
        .side-note {
            //...
            display: inline-flex;
            white-space: nowrap;
            align-items: center;
            font-size: 13px;
            text-align: right;
            padding: 0 24px;
            // outline: $test-outline;
            // background-color: $test-background;
        }
        &:hover {
            background-color: hsl(0, 0%, 90%);
        }
        &:active {
            background-color: hsl(0, 0%, 85%);
        }
    }
    hr {
        width: 100%;
        height: 2px;
        // margin: 0;
        background-color: hsl(0, 0%, 90%);
        border: none;
    }
}